


/* Extra small devices (phones, 600px and down) */ 
@media only screen and (max-width: 600px) { 
    #meta-calendar { 
        width: 100%; 
        height:100%; 
        margin: auto;
        
    } 
    #meta-timeline { 
        width: 100%; 
        height:10%; 
        margin: auto;
    }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media only screen and (min-width: 600px) { 
    #meta-calendar { 
        width: 100%; 
        height:100%; 
        margin: auto;
        
    } 
    #meta-timeline { 
        width: 100%; 
        height:10%; 
        margin: auto;
    }
} 
/* Medium devices (landscape tablets, 768px and up) */ 
@media only screen and (min-width: 768px) { 
    #meta-calendar { 
        width: 100%; 
        height:100%; 
        margin: auto;
        
    } 
    #meta-timeline { 
        width: 100%; 
        height:10%; 
        margin: auto;
    }

} /* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) { 
    #meta-timeline { 
        width: 100%; 
        height:10%; 
        margin: auto;
    }
    #meta-calendar { 
        width: 100%; 
        height:100%; 
        margin: auto;
        
    } 
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) { 
    .calendar-base {
        width: 1200px;
        height: 500px;
       
        border-radius: 20px;
        background-color: white;
        position: relative;
        color: black;
        margin-top: 100px;
        
       
      }
      .calendar-left {
        width: 650px;
        height: 500px;
        padding:20px 20px 20px 20px;
        border-radius: 20px 0px 0px 20px;
        background-color: #16244D;
        
       margin-top: -77px;
        color: white;
        
        float: left;

        
      }
      #meta-calendar { 
        width: 600px; 
        height:450px; 
        
        border-radius: 20px;
       
    } 
    .meta-timeline{
        width: 500px; 
        height:100px; 
        float: right;
    }





}