<div class="direction scroll-content" data-anchor="calendar"   style="padding-bottom: 0px;margin-top:0px;">
    <div class="direction5"></div>
		<div class="time-container">
			<div class="container">
				<div class="grid-half pull-left"style="margin-left=800">
					<div class="col-md-12" style="font-size: 60px;color: #000;font-weight: bold; ">ปฏิทิน</div>
						<iframe id="meta-calendar" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FBangkok&amp;
							src=Y180NW9pb2tlMTBlMDdmYms5NWJiaDZhM3RmZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udGgjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;
							color=%239E69AF&amp;color=%230B8043&amp;showTitle=0&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showNav=1&amp;
							title=Metapaht">
						</iframe>
				</div>
				<div  class="grid-half pull-right">
					<div id="meta-timeline"></div>
					    <app-timeline></app-timeline>           
				</div>
			</div>	
		</div>
</div>