#meta-calendar {
    width: 50em;
    height:50em;
    margin-left:0em;
	margin-top:0em;
    border: 2;border-radius: 25px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    border: 2px solid #0000ff;
}

/* Extra small devices (phones, 600px and down) */ 
@media only screen and (max-width: 600px) { 
    #meta-calendar { 
        width: 35em; 
        height: 50em; 
    } 
} 
/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media only screen and (min-width: 600px) { 

} 
/* Medium devices (landscape tablets, 768px and up) */ 
@media only screen and (min-width: 768px) { 

} /* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) { 

} 
/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) { 
    #meta-calendar { 
        width: 120em; 
        height:120em; 
    } 
}