<div class="container classCoursePaddingTop">
    <div class="grid-half pull-left " style="margin-top: 10px;">
<h1 class="greenTT invisible" data-sr="enter top move 100px">ข่าวสาร<br><br></h1>
<div class="wave-container overpagex margin_wave"></div>

<a class="twitter-timeline" data-theme="light" data-width ="500" data-height ="500"  href="https://twitter.com/metapaht?ref_src=twsrc%5Etfw%22%3E">Tweets by metapaht</a><br><br><br><br><br>
<iframe id="metapaht-calendar" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FBangkok&amp;src=Y180NW9pb2tlMTBlMDdmYms5NWJiaDZhM3RmZ0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udGgjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%239E69AF&amp;color=%230B8043&amp;showTitle=0&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;showNav=1&amp;title=Metapaht" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <div class="wave exterior"> 
     </div>
    </div>
</div>
