* {margin:0; padding:0;}
        .container {margin:0 0 0 10px; width:1001px; height:35px; padding:0px 0 0 0; background-color:#CCC;}
        
        /* ----------------------------------------------------- */
        /* navigation styles - BEGIN */ 
        
        /* style for horizontal nav */        
        #navigation_horiz {width:1001px; clear:both; padding:0 0 0 0; margin:0 auto}
        #navigation_horiz  ul {height:35px; display:block}
        #navigation_horiz  ul li {display:block; float:left; height:35px; background:#F2F2F2; margin:0 1px 0 0; position:relative}
        #navigation_horiz  ul li a.navlink {display:block;height:35px; padding: 0 15px 0 15px;; text-align:center; color:#fff; text-decoration:none;}
        #navigation_horiz .dropdown {
	position:absolute;
	width:961px;
	padding-top:15px;
	left: -201px;
}
        
                /* style for each drop down - horizontal */
                #navigation_horiz ul li #dropdown_one {background:#ccc; color:#fff; width:1001px;}
                #navigation_horiz ul li #dropdown_one a {color:red}
                #navigation_horiz ul li #dropdown_two {background:#F2F2F2; color:#fff; margin-left:-353px; width:961px;}
                #navigation_horiz ul li #dropdown_two a {color:gray}
                #navigation_horiz ul li #dropdown_three {background:#F2F2F2; color:#fff; margin-left:-252px; width:961px;}        
                #navigation_horiz ul li #dropdown_three a {color:gray}
                

        /* navigation styles - END */ 
        /* ----------------------------------------------------- */