#meta-twitter {
  border: 2;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  border: 2px solid #0000ff;
}
/* Extra small devices (phones, 600px and down) */ 
@media only screen and (max-width: 600px) { 
  #meta-twitter { 
      width: 350px; 
      height: 500px; 
    } 
} 
/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media only screen and (min-width: 600px) { 
  #meta-twitter { 
    width: 500px; 
    height:70px; 
} 
} 
/* Medium devices (landscape tablets, 768px and up) */ 
@media only screen and (min-width: 768px) { 
  #meta-twitter { 
    width: 35px; 
    height: 35px; 
  } 

} /* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) { 

} 
/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) { 
    #meta-twitter { 
        width: 500px; 
        height:70px; 
    } 
}