<div class="direction scroll-content" data-anchor="new & event"   style="padding-bottom: 0px;margin-top:0px;">
    <div class="container classCoursePaddingTop">
        <div class="container" style="margin-top: 50px;margin-bottom: 8em;">
            <div class="container overpagex margin_wave"></div>
                <h1 class="greenTT invisible" data-sr="enter top move 100px">ข่าวสาร</h1>
                    <a id="meta-twitter" class="twitter-timeline" data-theme="light"  href="https://twitter.com/metapaht?ref_src=twsrc%5Etfw%22%3E">Tweets by metapaht</a>
        </div>

    </div>
</div>
    

