<div class="direction scroll-content news-event-section" data-anchor="news & event">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                 <div class="fb-page fb-style" data-href="https://www.facebook.com/metapaht2017/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/metapaht2017/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/metapaht2017/">โรงเรียนเมธาพัฒน์</a></blockquote></div>
            </div>           
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>
    

