#meta-twitter {
  border: 2;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  border: 2px solid #0000ff;
}

/* Extra small devices (phones, 600px and down) */ 
@media only screen and (max-width: 600px) { 
  #meta-twitter { 
      width: 350px; 
      height: 500px; 
    } 
    .container{
     
      margin-bottom: 8em;
    }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */ 
@media only screen and (min-width: 600px) { 
  #meta-twitter { 
    width: 500px; 
    height:500px; 
} 
.container{
  margin-top: 10px;
  margin-bottom: 8em;
}
} 
/* Medium devices (landscape tablets, 768px and up) */ 
@media only screen and (min-width: 768px) { 
  #meta-twitter { 
    width: 350px; 
    height: 500px; 
  } 
  .container{
    margin-bottom: 8em;
  }

} /* Large devices (laptops/desktops, 992px and up) */ 
@media only screen and (min-width: 992px) { 
  #meta-twitter { 
    width: 350px; 
    height: 500px; 
  } 
  .container{
    
    margin-bottom: 8em;
  }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) { 
    #meta-twitter { 
        width: 500px; 
        height:500px; 
    } 
    .container{
      margin-top: 10px;
      margin-bottom: 8em;
    }
}