<div class="wrapper">
<div class="page">
    <div class="timeline">
      
      <div class="timeline__group">
        <span class="timeline__year time" aria-hidden="true">MAY, พฤษภาคม</span>
        <div class="timeline__cards">
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-02-02">
                <span class="time__day"></span>
                <span class="time__month">17th May, 2021 17 พ.ค. 64</span>
              </time>
            </header>
            <div class="card__content">
              <h3 class="card__title r-title"><b>First day of school</b> <br></h3>
                <p>- Welcome to Metapaht<br>
                - Homeroom teachers and friend meeting<br>
                 - Learn Metapaht’s code <br>
                 - inform Beyond Groups <br>
                  - Introduction to Clubs <br>
                   -Welcome to Houses<br></p>
                   <h3 class="card__title r-title"><b>เปิดเรียน ภาคเรียนที่ 1 ปีการศึกษา 2564</b> <br></h3>
                 
                <p>- Welcome to Metapaht<br>
                - กิจกรรมพบครูประจําชั้นและพบเพื่อนใหม่ <br>
                - รู้กฎกติกา มารยาทของเด็กเมธาพัฒน์<br>
                - แจ้ง Beyond<br>
                - เลือกคลับสิ่งที่สนใจ<br>
                - กิจกรรมต้อนรับสู่บ้านสีเมธาพัฒน์</p>
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">20th -25th May, 2021 20-25 พ.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Student Council application รับสมัครประธานนักเรียน</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Management and Teachers<br>
                คณะบริหารงาน 4 ฝ่าย คณะครูทุกคน</p>
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">26th May, 2021 26 พ.ค. 64</span>
              </time>
              <h3 class="card__title r-title">หยุดวันวิสาขบูชา (Visakha Bucha Day)</h3>
            </header>
            <div class="card__content">

            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">27th May, 2021 27 พ.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Student Council election เลือกตั้งประธานนักเรียน</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Student Council and Teachers <br>
                กลุ่มงานกิจการนักเรียน/คณะครูทุกคน</p>
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">31st May, 2021 31 พ.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Student Council announcement แต่งตั้งประธานนักเรียนและคณะกรรมการ</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Student Council and Teachers <br>
                กลุ่มงานกิจการนักเรียน/คณะครูทุกคน</p>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__group">
        <span class="timeline__year time" aria-hidden="true">JUNE, มิถุนายน</span>
        <div class="timeline__cards">
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-07-14">
                <span class="time__day"></span>
                <span class="time__month">3rd June, 2021 3 มิ.ย. 64</span>
              </time>
            </header>
            <div class="card__content">
              <p>หยุดราชการวันเฉลิมพระชนมพรรษา สมเด็จพระนางเจ้าสุทิดา พัชรสุธาพิมลลักษณ พระบรมราชินี / Queen’s Birthday</p>
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">10th June, 2021 10 มิ.ย. 64</span>
              </time>
              <h3 class="card__title r-title">Teacher’s Day กิจกรรม “วันไหว้ครู”</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Student Council and Teachers and Activities’ Team</p>
              
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">25th June,2021 25 มิ.ย. 64</span>
              </time>
              <h3 class="card__title r-title">Sunthorn Phu Day กิจกรรมสัปดาห์ “วันสุนทรภู่”</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Academic Team and Teachers 
                <br>กลุ่มงานวิชาการ, คณะครูทุกคน</p>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline__group">
        <span class="timeline__year time" aria-hidden="true">JULY, กรกฎาคม</span>
        <div class="timeline__cards">
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-07-14">
                <span class="time__day"></span>
                <span class="time__month">1st July, 2021 1 ก.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Boy Scout Establishment Day
                กิจกรรม “วันสถาปนาลูกเสือ”</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Student Council and Teachers and Activities’ Team <br>กลุ่มงานกิจการนักเรียน/กิจการพิเศษ, คณะครูทุกคน</p>
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">14th -16th July, 2021 14-16 ก.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Midterm สอบกลางภาคเรียนที่ 1/2564</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Academic Team and Teachers <br>กลุ่มงานวิชาการ, คณะครูทุกคน</p>
              
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">23rd July,2021 23 ก.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Candles offering for Buddhist Lent Day
                King’s Birthday Ceremony
                กิจกรรม “ถวายเทียนพรรษา” กิจกรรมถวายพระพร พระบาทสมเด็จพระเจ้าอยู่หัว มหาวชิรา ลงกรณ บดินทรเทพยวรางกูร</h3>
            </header>
            <div class="card__content">
              <p><b>ผู้รับผิดชอบ
                ,Responsible person/teams</b><br>
                Student Council and Teachers and Activities’ Team<br>
                กลุ่มงานกิจการนักเรียน/กิจการพิเศษ, คณะครูทุกคน</p>
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">26th July, 2021 26 ก.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Substitution for Asarnha Bucha Day
                หยุดชดเชยวันอาสาฬหบูชา</h3>
            </header>
            <div class="card__content">
              
              
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">27th July,2021 27 ก.ค. 64</span>
              </time>
              <h3 class="card__title r-title">Substitute for Buddhist Lent Day
                หยุดชดเชยวันเข้าพรรษา *เพิ่มเป็นกรณีพิเศษ*</h3>
            </header>
            <div class="card__content">
              
              
            </div>
          </div>
          <div class="timeline__card card">
            <header class="card__header">
              <time class="time" datetime="2008-09-01">
                <span class="time__day"></span>
                <span class="time__month">28th July,2021 28 ก.ค. 64</span>
              </time>
              <h3 class="card__title r-title">King’s Birthday หยุดวันเฉลิมพระชนมพรรษา พระบาทสมเด็จพระเจ้าอยู่หัว มหาวชิราลงกรณ บดินทรเทพยวรางกูร</h3>
            </header>
            <div class="card__content">
              
              
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  