.fontparagrahp_one
{
	font-family: 'thaisans_neueregular';
	font-size:35px;
	text-align:center;
	font-weight:700;
}
@media (min-width:320px)
{
	.fontparagrahp_one
	{
		font-family: 'thaisans_neueregular';
		font-size:35px;
		text-align:center;
		font-weight:700;
	}
}
@media (min-width:375px){}
@media (min-width:414px){}
@media (min-width:768px){}
@media (min-width:800px){}
@media (min-width:1024px)
{
	.fontparagrahp_one
	{
		font-family: 'thaisans_neueregular';
		font-size:33px;
		text-align:center;
		font-weight:700;
	}
}
@media (min-width:1152px){}
@media (min-width:1240px){}
@media (min-width:1280px){}
@media (min-width:1360px){}
@media (min-width:1400px){}
@media (min-width:1680px){
.fontparagrahp_one
	{
		font-family: 'thaisans_neueregular';
		font-size:55px;
		text-align:center;
		font-weight:700;
	}
}
@media (min-width:1920px){}
/**********CSS RESPONSIVE  ***************************/