




@media (min-width: 320px){
    
    .paddingrespara5{
        padding-left: 40px;
        padding-right: 0px;
    }  
    .textcenter{
        text-align: center;
    }
    .fontjustify{
        text-align: justify;
    }
 
}

@media (min-width: 360px){
    
    .paddingrespara5{
        padding-left: 55px;
        padding-right: 0px;
    }  
    .textcenter{
        text-align: center;
    }
    .fontjustify{
        text-align: justify;
    }
 
}
@media (min-width: 375px){
    
    .paddingrespara5{
        padding-left: 65px;
        padding-right: 0px;
    }  
    .textcenter{
        text-align: center;
    }
    .fontjustify{
        text-align: justify;
    }
 
}
@media (min-width: 414px){
    
    .paddingrespara5{
        padding-left: 80px;
        padding-right: 0px;
    }  
    .textcenter{
        text-align: center;
    }
    .fontjustify{
        text-align: justify;
    }
 
}


@media (min-width: 768px){
    
    .paddingrespara5{
        padding-left: 55px;
     
    }  
    .textcenter{
        text-align: center;
    }
 .fontjustify{
        text-align: justify;
    }
}

@media (min-width: 1024px){
    
    .paddingrespara5{
        padding-left: 114px;
     
    }  
    .textcenter{
        text-align: center;
    }
 .fontjustify{
        text-align: justify;
    }
}

@media (min-width: 1280px) and (max-width:1920px){
    
    .paddingrespara5{
        padding-left: 0px;
     
    }  
    .textcenter{
        text-align: left;
    }
 .fontjustify{
        text-align: left;
    }
}

    
   