<div class="season scroll-content  mission_margin_top" data-anchor="Concept" >
    <div class="pink-wave">
        <div class="container">
            <div class="grid-half pull-right mission_box_text paragraph2_textposition">
                <h1 class="white invisible" data-sr="hustle 500%" style="margin-top: -60px; text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);">แนวคิดของเมธาพัฒน์</h1>
                    <p class="description white invisible mission_box_detail" style="text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);"></p>
                        <div class="fontMissionSize fontcolorWhite">
                            <div style="color: #000; font-weight: bold;"  data-sr="wait 0.4s, scale up 50%" class="paragraph2Title">นำจุดเด่นของโรงเรียนนานาชาติ</div>
                            <div data-sr="wait 1.2s, scale up 50%" class="paragraph2_fontDetail paragraph2Padding">คือ สามารถใช้ภาษาอังกฤษได้คล่องแคล่ว<br>มีเนื้อหาสาระเป็นสากล </div>
                            <div style="color: #000; font-weight: bold;"  data-sr="wait 2.0s, scale up 50%" class="paragraph2Title">ผนวกเข้ากับหลักสูตรของไทย</div>
                            <div data-sr="wait 2.8s, scale up 50%" class="paragraph2_fontDetail">คือ สามารถฟัง พูด อ่าน เขียนภาษาไทย<br>ได้อย่างลึกซึ้ง รวมถึงเรียนรู้ สังคม วัฒนธรรมอันเป็นรากเหง้าของชาติเรา </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="season-bg overpagex"></div>
    <div class="bottom-bg" style="overflow-x:hidden; width:100%;">
        <img  src="assets/images/course/4.png" class="bottom_child" />
    </div>  
</div>
