h1.greenTT{
	color: #57a000;
  	text-transform: uppercase;
	font-size:35px;
	text-align:center;
	font-weight:700;
}
.p4detail{font-size:22px; text-align:center;}
.p4fontExp{font-size:20px;}
.p4display1{display:block;}
.p4display2{display:none;}
@media (min-width:320px){
	h1.greenTT{
		color: #57a000;
		text-transform: uppercase;
		font-weight:700;
		font-size:35px;
		text-align:center;
	}
	.p4detail{font-size:22px;  text-align:center;}
	.p4fontExp{font-size:20px;}
	.p4display1{display:block;}
	.p4display2{display:none;}
}
@media (min-width:375px){}
@media (min-width:414px){}
@media (min-width:768px){
	h1.greenTT{
		color: #57a000;
		text-transform: uppercase;
		font-size:60px;
		text-align:left;
		font-weight:400;
	}
	.p4detail{font-size:22px;  text-align:left;}
	.p4fontExp{font-size:20px;}
	.p4display1{display:block;}
	.p4display2{display:none;}
}
@media (min-width:800px){.p4display1{display:block;}.p4display2{display:none;}}
@media (min-width:1024px){.p4display1{display:none;}.p4display2{display:block;}}
@media (min-width:1152px){.p4display1{display:none;}.p4display2{display:block;}}
@media (min-width:1240px){.p4display1{display:none;}.p4display2{display:block;}}
@media (min-width:1280px){.p4detail{font-size:24px;} .p4fontExp{font-size:27px;}.p4display1{display:none;}.p4display2{display:block;}}
@media (min-width:1360px){.p4display1{display:none;}.p4display2{display:block;}}
@media (min-width:1400px){.p4display1{display:none;}.p4display2{display:block;}}
@media (min-width:1680px){.p4display1{display:none;}.p4display2{display:block;}}
@media (min-width:1920px){.p4display1{display:none;}.p4display2{display:block;}}
/**********CSS RESPONSIVE  ***************************/