<div style="height: 10px"></div>
<div class="scroll-content " data-anchor="home">
  <div class="container slide-container">
    <div style="overflow-y: hidden; z-index: 10">
      <div id="content" class="container theme-showcase" role="main">
        <div
          id="layerslider_13"
          class="ls-wp-container fitvidsignore"
          style="
            width: 1200px;
            height: 600px;
            max-width: 1800px;
            margin: 0 auto;
            margin-bottom: 0px;
            overflow: hidden;
          "
        >
          <!--Start Slide 1-->
          <div
            class="ls-slide"
            data-ls="bgsize:cover;bgposition:80% 50%;duration:6000;transition2d:5;kenburnsscale:0;parallaxtype:3d;parallaxdurationmove:450;parallaxdurationleave:450;parallaxdistance:20;parallaxrotate:10;"
          >
            <img
              src="assets/images/slide/slide1/BG-04.png"
              class="ls-bg"
              alt="Slide background"
            />
            <img
              style="top: 80px; left: 150px"
              class="ls-l"
              src="assets/images/slide/slide1/Land.png"
              alt=""
              data-ls="offsetyin:50;durationin:1500;delayin:400;easingin:easeOutExpo;offsetxout:70;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-3;"
            />
            <img
              style="top: 210px; left: 18%; width: 300px"
              class="ls-l"
              src="assets/images/slide/slide1/MPS.png"
              alt=""
              data-ls="offsetxin:100;durationin:1500;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 456px; left: 187px"
              class="ls-l"
              src="assets/images/slide/slide1/shadow1.png"
              alt=""
              data-ls="durationin:1500;delayin:100;easingin:easeInOutExpo;offsetxout:-70;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 10px; left: 87%; width: 100px"
              class="ls-l"
              src="assets/images/slide/slide1/Brid1.png"
              alt=""
              data-ls="offsetyin:200;delayin:400;easingin:easeInOutExpo;offsetxout:120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:3;"
            />
            <img
              style="top: 50px; left: 37%; width: 150px"
              class="ls-l"
              src="assets/images/slide/slide1/Brid2.png"
              alt=""
              data-ls="offsetyin:200;delayin:600;easingin:easeInOutExpo;offsetxout:120;durationout:800;easingout:easeInExpo;parallax:true;parallaxlevel:-2;"
            />
            <img
              style="top: 10px; left: 412px; width: 650px"
              class="ls-l"
              src="assets/images/slide/slide1/MPS-B.png"
              alt=""
              data-ls="offsetyin:200;delayin:400;easingin:easeInOutExpo;offsetxout:120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-1;"
            />
            <img
              style="top: 200px; left: 77%; width: 140px"
              class="ls-l"
              src="assets/images/slide/slide1/KID-01.png"
              alt=""
              data-ls="offsetxin:-500;delayin:1000;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-80;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:1;"
            />
            <img
              style="top: 200px; left: 35%; width: 140px"
              class="ls-l"
              src="assets/images/slide/slide1/KID-02.png"
              alt=""
              data-ls="offsetxin:500;delayin:1400;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-80;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:1;"
            />
            <img
              style="top: 180px; left: 619px; width: 160px"
              class="ls-l"
              src="assets/images/slide/slide1/KID-03.png"
              alt=""
              data-ls="offsetyin:50;delayin:1900;easingin:easeInOutExpo;offsetxout:-30;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
          </div>

          <!--Start Slide 2-->
          <div
            class="ls-slide"
            data-ls="bgsize:cover;bgposition:80% 50%;duration:6000;transition2d:5;kenburnsscale:0;parallaxtype:2d;parallaxdurationmove:450;parallaxdurationleave:450;parallaxdistance:30;parallaxrotate:20;"
          >
            <img
              src="assets/images/slide/slide2/BG-01.png"
              class="ls-bg"
              alt="Slide2 background"
            />
            <img
              style="top: 80%; left: 60%; width: 100%"
              class="ls-l"
              src="assets/images/slide/slide2/Plannet.png"
              alt=""
              data-ls="offsetxin:100;delayin:800;durationin7000;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:3;"
            />
            <img
              style="top: 456px; left: 60%"
              class="ls-l"
              src="assets/images/slide/slide2/shadow2.png"
              alt=""
              data-ls="durationin:1500;delayin:100;easingin:easeInOutExpo;offsetxout:-70;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 150px; left: 26%; width: 500px"
              class="ls-l"
              src="assets/images/slide/slide2/Star-01.png"
              alt=""
              data-ls="offsetxin:100;delayin:400;durationin:4000;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:1;"
            />
            <img
              style="top: 140px; left: 85%; width: 300px"
              class="ls-l"
              src="assets/images/slide/slide2/Star-02.png"
              alt=""
              data-ls="offsetxin:100;delayin:600;durationin:1500;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:3;"
            />
            <img
              style="top: 36%; left: 61%; width: 700px"
              class="ls-l"
              src="assets/images/slide/slide2/Paper-plane.png"
              alt=""
              data-ls="offsetyin:200;delayin:500;durationin:1500;easingin:easeInOutExpo;offsetxout:120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-1;"
            />
            <img
              style="top: 67%; left: 57%; width: 240px"
              class="ls-l"
              src="assets/images/slide/slide2/Parun.png"
              alt=""
              data-ls="offsetxin:500;delayin:1400;durationin:1000;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-80;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:1;"
            />
            <img
              style="top: 60px; left: 26%; width: 340px"
              class="ls-l"
              src="assets/images/slide/slide2/Passport-text.png"
              alt=""
              data-ls="offsetxin:100;durationin:1500;delayin:1600;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-2;"
            />
          </div>

          <!-- Start Slide 3-->
          <div
            class="ls-slide"
            data-ls="bgsize:cover;bgposition:80% 50%;duration:6000;transition2d:5;kenburnsscale:0;parallaxtype:2d;parallaxdurationmove:450;parallaxdurationleave:450;parallaxdistance:10;parallaxrotate:20;"
          >
            <img
              src="assets/images/slide/slide3/BG--03.png"
              class="ls-bg"
              alt="Slide3 background"
            />
            <img
              style="top: 100px; left: 22%; width: 340px"
              class="ls-l"
              src="assets/images/slide/slide3/M-Smart.png"
              alt=""
              data-ls="durationin:1500;delayin:1400;easingin:easeInOutExpo;offsetxout:-70;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-3;"
            />
            <!--ช้าง <img style="top:275px;left:58%; width:245px;" class="ls-l" src="assets/images/slide/slide3/EP-1.png" alt="" data-ls="offsetxin:100;delayin:900;durationin:5000;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;" /> -->
            <img
              style="top: 170px; left: 40%; width: 575px"
              class="ls-l"
              src="assets/images/slide/slide3/Land-Bul.png"
              alt=""
              data-ls="offsetxin:100;delayin:1000;durationin:3000;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-4;"
            />
            <!--ช้าง    <img style="top:260px;left:30%; width:275px;" class="ls-l" src="assets/images/slide/slide3/EP-2.png" alt="" data-ls="offsetxin:100;delayin:800;durationin:2000;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:3;" /> -->
            <img
              style="top: 180px; left: 39%; width: 200px"
              class="ls-l"
              src="assets/images/slide/slide3/kid03.png"
              alt=""
              data-ls="offsetyin:300;delayin:1200;durationin:1000;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 335px; left: 55%; width: 130px"
              class="ls-l"
              src="assets/images/slide/slide3/cube.png"
              alt=""
              data-ls="offsetxin:100;delayin:400;durationin:4000;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:3;"
            />
            <img
              style="top: 350px; left: 28%; width: 120px"
              class="ls-l"
              src="assets/images/slide/slide3/cube-2.png"
              alt=""
              data-ls="offsetxin:100;delayin:600;durationin:1500;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:1;"
            />
            <img
              style="top: 210px; left: 61%; width: 60px"
              class="ls-l"
              src="assets/images/slide/slide3/Tri.png"
              alt=""
              data-ls="offsetyin:200;delayin:500;durationin:1500;easingin:easeInOutExpo;offsetxout:120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-1;"
            />
            <img
              style="top: 320px; left: 10%; width: 70px"
              class="ls-l"
              src="assets/images/slide/slide3/Tri-2.png"
              alt=""
              data-ls="offsetxin:500;delayin:1400;durationin:1000;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-80;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 160px; left: 80%; width: 220px"
              class="ls-l"
              src="assets/images/slide/slide2/MPS-LOGOColour.png"
              alt=""
              data-ls="offsetxin:100;durationin:1500;delayin:2000;easingin:easeOutExpo;offsetxout:-120;scalexin:0;scaleyin:0;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-2;"
            />
          </div>

          <!--Slide 4-->
          <div
            class="ls-slide"
            data-ls="bgsize:cover;bgposition:80% 50%;duration:6000;transition2d:5;kenburnsscale:0;parallaxtype:2d;parallaxdurationmove:450;parallaxdurationleave:450;parallaxdistance:20;parallaxrotate:10;"
          >
            <img
              src="assets/images/slide/slide4/01.png"
              class="ls-bg"
              alt="Slide background"
            />
            <img
              style="top: 28%; left: 95%; width: 60%"
              class="ls-l"
              src="assets/images/slide/slide4/c2.png"
              alt=""
              data-ls="offsetxin:100;durationin:1500;easingin:easeOutExpo;offsetxout:-120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:3;"
            />
            <img
              style="top: 35%; left: 16%; width: 90%"
              class="ls-l"
              src="assets/images/slide/slide4/c.png"
              alt=""
              data-ls="offsetyin:50;durationin:1500;delayin:400;easingin:easeOutExpo;offsetxout:70;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-3;"
            />
            <img
              style="top: 50%; left: 50%; width: 160%"
              class="ls-l"
              src="assets/images/slide/slide4/land.png"
              alt=""
              data-ls="durationin:1500;delayin:100;easingin:easeInOutExpo;offsetxout:-70;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:1;"
            />
            <img
              style="top: 48%; left: 1%; width: 15%"
              class="ls-l"
              src="assets/images/slide/slide4/leaf.png"
              alt=""
              data-ls="offsetyin:200;delayin:400;easingin:easeInOutExpo;offsetxout:120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 67%; left: 98%; width: 20%"
              class="ls-l"
              src="assets/images/slide/slide4/leaf2.png"
              alt=""
              data-ls="offsetyin:200;delayin:600;easingin:easeInOutExpo;offsetxout:120;durationout:800;easingout:easeInExpo;parallax:true;parallaxlevel:-2;"
            />
            <img
              style="top: 60%; left: 68%; width: 26%"
              class="ls-l"
              src="assets/images/slide/slide4/KID.png"
              alt=""
              data-ls="offsetyin:200;delayin:400;easingin:easeInOutExpo;offsetxout:120;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-1;"
            />
            <img
              style="top: 35%; left: 52%; width: 10%"
              class="ls-l"
              src="assets/images/slide/slide4/Item-5.png"
              alt=""
              data-ls="offsetxin:0;delayin:1100;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-80;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-2;"
            />
            <img
              style="top: 22%; left: 60%; width: 13%"
              class="ls-l"
              src="assets/images/slide/slide4/Item-1.png"
              alt=""
              data-ls="offsetxin:0;delayin:1300;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-60;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:-1;"
            />
            <img
              style="top: 18%; left: 72%; width: 10%"
              class="ls-l"
              src="assets/images/slide/slide4/Item-3.png"
              alt=""
              data-ls="offsetxin:0;delayin:1500;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-40;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:1;"
            />
            <img
              style="top: 38%; left: 76%; width: 5%"
              class="ls-l"
              src="assets/images/slide/slide4/Item-2.png"
              alt=""
              data-ls="offsetxin:0;delayin:1700;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:-30;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 38%; left: 86%; width: 9%"
              class="ls-l"
              src="assets/images/slide/slide4/Item-4.png"
              alt=""
              data-ls="offsetxin:0;delayin:1900;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:10;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:3;"
            />
            <img
              style="top: 68%; left: 80%; width: 17%"
              class="ls-l"
              src="assets/images/slide/slide4/But2.png"
              alt=""
              data-ls="offsetxin:0;delayin:800;easingin:easeOutBack;scalexin:0;scaleyin:0;offsetxout:0;durationout:500;easingout:easeInExpo;parallax:true;parallaxlevel:2;"
            />
            <img
              style="top: 57%; left: 39%; width: 12%"
              class="ls-l"
              src="assets/images/slide/slide4/But.png"
              alt=""
              data-ls="offsetxin:0;delayin:700;fadein;parallax:true;parallaxlevel:3;"
            />
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
  </div>

  <div class="wave-container overpagex margin_wave">
    <div class="wave exterior">
      <img src="assets/images/part_about/line_about1.png" />
    </div>
  </div>
</div>
