.UnderFac {
  margin: 0 auto;
  max-width: 2560px;
  position: relative;
  width: 100%;
  z-index: 100; }
.UnderFac .pink-wave {
  background-image: url("../images/part_about/about_bottom.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -191px;
  padding-top: 205px;
  position: absolute;
  top: 0;
  width: 100%; }
@media screen and (max-width: 767px) {
  .UnderFac .pink-wave {
    background-position: center left -780px;
    background-size: 2370px;
    height: 490px;
    margin-top: -205px;
    position: relative;
    z-index: 1; } }
@media screen and (min-width: 768px) {
  .UnderFac .pink-wave {
    background-size: 285%;
    height: 455px; } }
@media screen and (min-width: 1100px) {
  .UnderFac .pink-wave {
    background-size: auto;
    height: 570px; } }
	
.UnderFac .UnderFac-bg {
  background-image: url("../images/facilities/Metapht-per.png");
  background-position:center center;
  background-repeat: no-repeat; }
@media screen and (max-width: 767px) {
  .UnderFac .UnderFac-bg {
    background-position: center -30px;
    background-size: 200%;
    height: 81vw;
    position: relative;
    top: -18vw; } }
@media screen and (min-width: 768px) {
  .UnderFac .UnderFac-bg {
    background-position: center 0;
    background-size: contain;
    height: 490px; } }
@media screen and (min-width: 1100px) {
  .UnderFac .UnderFac-bg {
    background-position: center -10vw;
    background-size: cover;
    height: 640px; } }
@media screen and (min-width: 1600px) {
  .UnderFac .UnderFac-bg {
    background-position: center -20vw;
    background-size: cover; } }
.UnderFac .bottom-bg-UnderFac {
  background-image: url(../images/facilities/underfac_bottom.png);
  background-repeat: no-repeat;
  left: 0;
  position: absolute; }
@media screen and (max-width: 767px) {
  .UnderFac .bottom-bg-UnderFac {
    background-position: center left -85px;
    background-size: 200%;
    bottom: 0;
    width: 100%; } }
@media screen and (min-width: 768px) {
  .UnderFac .bottom-bg-UnderFac {
    background-position: center right 100vw;
    bottom: 25px; } }
@media screen and (min-width: 1100px) {
  .UnderFac .bottom-bg-UnderFac {
    background-position: center center;
    bottom: 0; 
    
  
  } }
.UnderFac img {
  display: block;
  opacity: 0;
  visibility: hidden; }

@media screen and (max-width: 767px) { }
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1100px) { }