<div class="riverwalk scroll-content overpagexy" data-anchor="Mission" >
    <div class="container">
        <div class="margin-grid-course">
            <div class="grid-half pull-left" data-sr="wait 0.5s, spin 60deg, roll 10deg">
                <h1 class="greenT invisible" data-sr="enter bottom move 20px" style="text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);">วิสัยทัศน์</h1>
                    <p class="description invisible" data-sr="wait 0.3s, enter bottom move 20px"></p>
                        <div class="fontMissionSize" data-sr="enter bottom move 20px"> 
                            <div style="color: #000;font-weight: bold;" class="paragraph3_classDisplay"> 
                                พัฒนาเด็กไทยให้มีคุณลักษณะอันเป็นสากล<br>
                                เพื่อความมั่นใจที่จะก้าวสู่การเป็นพลเมืองดี<br>
                                ของประเทศและสังคมโลก
                            </div>         
                            <div style="color: #000;font-weight: bold;" class="paragraph31_classDisplay"> 
                                พัฒนาเด็กไทยให้มีคุณลักษณะอันเป็นสากล<br>เพื่อความมั่นใจที่จะก้าวสู่การเป็นพลเมืองดี<br>ของประเทศและสังคมโลก
                            </div>               
                        </div>
                                          
                <div  class="paragraph3_classDisplay">
                    <img class="img-responsive"src="assets/images/logo/MTP-ICON.png" style="width: 80%;" />
                </div>
                <div  class="paragraph31_classDisplay" style="background-color:#fff; padding:0px;" align="center">
                    <img class="img-responsive"src="assets/images/logo/MTP-ICON.png" style="width:100%;" />
                </div>                
            </div>
            <div class="grid-half pull-right" style="margin-top: 10px;" data-sr="wait 1.5s, spin 60deg, roll 10deg">
                <h1 class="greenT invisible" data-sr="enter bottom move 20px" style=" text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);">ค่านิยม</h1>
                    <p class="description invisible" data-sr="wait 0.3s, enter bottom move 20px"></p>
                        <div class="fontMissionSize paragraph3_textMoto " data-sr="enter bottom move 20px" style="color: #000; font-weight: bold;"> 
                            <div class="col-xs-6 col-sm-6 col-md-6" >รักเรียนรู้</div>
                            <div class="col-xs-6 col-sm-6 col-md-6" >ชูปัญญา</div>
                            <div class="col-xs-6 col-sm-6 col-md-6" >ภาษาเด่น</div>
                            <div class="col-xs-6 col-sm-6 col-md-6" >เป็นผู้นำ</div>
                            <div class="col-xs-6 col-sm-6 col-md-6" >ล้ำเทคโนโลยี</div>
                            <div class="col-xs-6 col-sm-6 col-md-6" >สร้างคนดีสู่สังคม</div>	
                        </div>                 
            </div>
        </div>
    </div>
        <div class="riverwalk-bg overpagexy">
            <div class="riverwalk-inner"></div>
        </div>
</div> 